body {
    margin: 0;
    padding: 0;
    height: 3551px;
    background-color: #000 !important;
}

a {
    text-decoration: none !important;
}

#mainbody {
    position: fixed;
    width: 100%;
}

.topbanner {
    height: 100vh;
    overflow: hidden;
    top: 1px;
    z-index: 1;
    background-color: brown;
}

/* @media(max-width: 1600px) {
    .bg-3 {
        bottom: 25px;
        right: 204px;
        width: 110px;
        position: absolute;
    }
} */
.swiper {
    background-color: #000;
    padding: 90px 20px !;
    height: 300px;
    width: 100%;
    box-sizing: content-box;
    display: none !important;
}

.swiper-slide {
    background-color: #000 !important;
    padding: 90px 20px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-notification {
    box-sizing: content-box;
}

.swiper-pagination {
    box-sizing: content-box;
}

.swiper-pagination-bullet {
    box-sizing: content-box;
    background: #fff !important;
}

.swiperimg1 {
    background: url(https://wanpotea.com/images/taste-hover-4.jpg) center center/cover no-repeat;
    width: 84px;
    height: 84px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.swiperimg2 {
    background: url(https://wanpotea.com/images/taste-hover-5.jpg) center center/cover no-repeat;
    width: 84px;
    height: 84px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.swiperimg3 {
    background: url(https://wanpotea.com/images/taste-hover-3.jpg) center center/cover no-repeat;
    width: 84px;
    height: 84px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.swipertext {
    display: inline-block;
    vertical-align: middle;
    width: calc(98% - 84px);
    padding-left: 12px;
}

.swipertitle {
    font-family: Arial, "Noto Sans TC", STXihei, "HEITI TC", "HEITI TC", 黑體-繁, 微軟正黑體, 黑體, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.3;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
    text-align: left;
}

.swipercontent {
    font-family: Arial, "Noto Sans TC", STXihei, "HEITI TC", "HEITI TC", 黑體-繁, 微軟正黑體, 黑體, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: left;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-1 {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: url(https://wanpotea.com/images/index-banner-1.png) center center/cover no-repeat;
}

.bg-2 {
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: url(https://wanpotea.com/images/index-banner-2.png) center center/cover no-repeat;
}

.bg-3 {
    position: absolute;
    bottom: 28px;
    right: 364px
}


.bg-4 {
    position: absolute;
    bottom: -129px;
    right: 84px;
}

.bg-5 {
    position: absolute;
    left: 60px;
    bottom: -50px;
}

.bg-6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}

.navword {
    font-family: Arial, "Noto Sans TC", STXihei, "HEITI TC", "HEITI TC", 黑體-繁, 微軟正黑體, 黑體, sans-serif;

}

.mobilenav {
    display: none;
}



.navspace {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: absolute;
    z-index: 5;
}

.storywrap {
    padding: 113px 0;
    background-color: black;
    text-align: center;
    position: relative;
    z-index: 3;
}

.storywrap .title {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 78px;
    color: #fff;
    margin-bottom: 130px;
}

.storywrap .content {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #fff;
    max-width: 960px;
    margin: 0 auto;
}

.lastwrap {
    height: 100vh;
    position: relative;
    background-color: #531e1e;
    overflow: hidden;
    z-index: 3;

}

.lastwrapimg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://wanpotea.com/images/home-banner2.png) center center/cover no-repeat;
    background-attachment: fixed
}

.animewrap {
    background-color: #000;
    position: relative;
    padding-bottom: 58px;

}


.logo {
    top: 35px;
    left: 98px;
}

.logoarena {
    top: 32px;
    right: 98px;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.logo2 {
    margin-right: 36px;
}

.hamburger {

    text-align: center;

}

.middle {
    margin: -8px auto;
}

.wholedrink {
    position: relative;
    padding-bottom: 58px;
    padding-top: 170px;
    z-index: 9;
}

.redtea {
    width: 300px;
    margin: 0 auto;
    position: relative;
    padding-top: 220px;
    z-index: 3;
}

.teacontainer {
    position: relative;
}

.drink {
    position: relative;
    z-index: 1;
    width: 289px;
    height: 539px;
    margin: 0 auto;
    background: url(https://wanpotea.com/images/longsweet_sprites.png)0 0 no-repeat;
    background-position-y: -9163px;

}

.sock {
    position: absolute;
    top: -160px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    transition-duration: 0.9s;
}

.sockdrag {
    z-index: 1;
    position: absolute;
    top: -214px;
    left: 50%;
    margin-left: -38px;
    width: 76px;
    height: 76px;
}

.circle {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.drag {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.drag::after {
    content: '';
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    transform: rotate(-28deg);
}

.drag::before {
    content: '';
    width: 16px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    transform: rotate(28deg);
}

.topicon {
    position: absolute;
    top: -100px;
    left: 50%;
    z-index: 1;
    width: 54px;
    margin-left: -27px;
}

.noteone {
    position: absolute;
    top: 59%;
    left: 550px;
    max-width: 236px;
}

.noteone .title {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
}

.noteone .content {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #fff;
}

.noteone .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -116px;
    left: -37px;
    transform-origin: center bottom;
    width: 76px;
    height: 76px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: all .3s ease;
}

/* .noteone .icon .hover-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease;
    background: url(https://wanpotea.com/images/taste-hover-4.jpg)center center/cover no-repeat;
} */
.noteone .line-1 {
    width: 320px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: 0;
}

.noteone .line-2 {
    width: 2px;
    height: 31px;
    background-color: #fff;
    position: absolute;
    top: -49px;
    left: 0px;
}

.notetwo {
    position: absolute;
    top: 72.6%;
    right: 580px;
    max-width: 236px;
}

.notetwo .title {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
}

.notetwo .content {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #fff;
}

.notetwo .icon {
    position: absolute;
    top: -116px;
    right: -37px;
    transform-origin: center bottom;
    width: 76px;
    height: 76px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: all .3s ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notetwo .line-1 {
    width: 292px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    right: 0;
}

.notetwo .line-2 {
    width: 2px;
    height: 31px;
    background-color: #fff;
    position: absolute;
    top: -49px;
    right: 0px;
}

.notethree {
    position: absolute;
    bottom: 5%;
    left: 560px;
    max-width: 236px;
}

.notethree .title {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
}

.notethree .content {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #fff;
}

.notethree .icon {
    position: absolute;
    top: -58px;
    left: -94px;
    transform-origin: right center;
    width: 76px;
    height: 76px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notethree .line-1 {
    width: 356px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: -29px;
}

.logofirst {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://wanpotea.com/images/rydercup-first.png) 0 bottom no-repeat;
}

.logolast {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://wanpotea.com/images/rydercup-last.png) 0 bottom no-repeat;

}

.ul {
    list-style: none;
}

.bottomwrap {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateX(100%);
}

.bottomfirst {
    background-color: #d3bca3;
    padding-bottom: 172px;
}

.bottomanime {
    text-align: center;
    position: relative;
    margin-bottom: 270px;
    height: 945px;
}

.bottomanime.showon .tiger1 {
    opacity: 1;
    position: absolute;
    transform: translateY(0px);
    left: 5.9%;
    bottom: -5px;
    transition: all 1s 1s;
}

.bottomanime.showon .bigword1 {
    transform: scale(1);
    opacity: 1;
    position: absolute;
    left: 26.4%;
    bottom: 20px;
    transition: all 2s 1.5s;
    transform-origin: 100% 50%;
}

.bottomanime.showon .bigword2 {
    transform: scale(1);
    opacity: 1;
    position: absolute;
    left: 52.7%;
    bottom: 13px;
    transition: all 2s 1.5s;
    transform-origin: 0% 50%;
}

.bottomanime.showon .tiger2 {
    opacity: 1;
    transform: translateY(0px);
    position: absolute;
    left: 74.1%;
    bottom: -5px;
    transition: all 1s 1s;
}

.bottomanime.showon .scrolldown {
    bottom: -60px;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    transition: all 1s 2.6s;
    cursor: pointer;
}

.tiger1 {
    position: absolute;
    left: 5.9%;
    bottom: -5px;
    transition: all 1s 1s;
    opacity: 0;
    transform: translateY(-120px);
}

.bigword1 {
    position: absolute;
    left: 26.4%;
    bottom: 20px;
    transition: all 2s 1.5s;
    transform: scale(0);
    transform-origin: 100% 50%;
    opacity: 0;
}

.bigword2 {
    transform-origin: 0% 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 2s 1.5s;
    position: absolute;
    left: 52.7%;
    bottom: 13px;
}

.tiger2 {
    position: absolute;
    left: 74.1%;
    bottom: -5px;
    transition: all 1s 1s;
    opacity: 0;
    transform: translateY(120px);
}


.scrolldown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -110px;
    z-index: 9;
    opacity: 0;
    transition: all 1s 2.6s;
    cursor: pointer;
}

.showon {
    display: block;
}

.shownone {
    display: none !important;
}

.test {
    position: relative;

    /* overflow: hidden; */
}

.listtext {
    width: 662px;
    margin: 0 auto 154px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.listtext2 {
    width: 740px;
    margin: 0 auto 94px;
    left: 147px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.listtext3 {
    width: 662px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.listword {
    visibility: visible;
    position: relative;
    flex: 1 1 0px;
    width: auto;
}

.listimg {
    opacity: 0;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 59px;
    visibility: hidden;
    background: url(https://wanpotea.com/images/persist-1.jpg) center center / cover no-repeat;
}

.listimg2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 106px;
    bottom: -17px;
}

.listimg3 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 280px;
    bottom: -117px;
}

.listimg4 {
    opacity: 0;
    background: url(https://wanpotea.com/images/persist-2.jpg)center center / cover no-repeat;
    visibility: hidden;
    margin-right: 72px;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 59px;
}

.listtext2-1 {
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeIn;
    position: relative;
    flex: 1 1 0px;
    width: auto;
    order: 2;
}

.listimg5 {
    opacity: 0;
    visibility: hidden;
    animation-duration: 1s;
    animation-name: fadeInRightSmall;
    position: absolute;
    right: 0;
    bottom: -10px;
}

.listtext3-1 {

    animation-duration: 1s;
    animation-name: none;
    flex: 1 1 0px;
    width: auto;
    position: relative;
}

.listimg6 {
    opacity: 0;
    background: url(https://wanpotea.com/images/persist-3.jpg) center center / cover no-repeat;
    margin-left: 12px;
    visibility: hidden;
    animation-duration: 1s;
    animation-name: none;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 59px;

}

.listimg7 {
    opacity: 0;
    visibility: hidden;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-name: none;
    position: absolute;
    right: 313px;
    bottom: -5px;
}

.listimg8 {
    opacity: 0;
    visibility: hidden;
    animation-duration: 1s;
    animation-name: none;
    position: absolute;
    right: 223px;
    bottom: -7px;
}

.num {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 3px;
    color: #000;
    position: absolute;
    top: -8px;
    left: -107px;
}

.listtitle {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 27px;
}

.listcontent {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #231815;
}

.bottomnews {
    background-color: #000;
    padding: 200px 0 120px;
}

.newslist {
    max-width: 1534px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.news {
    width: auto;
    flex: 1 1 0px;
    background-color: #fff;
    border: 1px solid #dcdddd;
    position: relative;
    padding: 45px;
    max-width: 32%;
    min-width: 32%;
    min-height: 350px;
    max-height: 350px;
    margin: 7px;
}

.newstitle {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 500;
    font-size: 31px;
    letter-spacing: 6px;
    line-height: 1.3;
    color: #231815;
    margin-left: 20px;
    /* writing-mode: tb-rl; */
}

.newscontent {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.6;
    color: #231815;
    /* writing-mode: tb-rl; */
}

.cat-area {
    position: absolute;
    left: 45px;
    bottom: 45px;
}

.cat {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 2px;
    color: #231815;
    margin-bottom: 6px;
}

.date {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: #231815;
}

.more {
    margin-top: 120px;
    text-align: center;
    cursor: pointer;
}

.footer {
    background: url(https://wanpotea.com/images/footer-bg.svg) center center/cover no-repeat;
    padding: 150px 0 50px;
}

.footer-container {
    text-align: center;
    width: 326px;
    margin: 0 auto;
    position: relative;
}

.word-1 {
    position: absolute;
    top: 120px;
    right: calc(100% + 33px);
}

.word-2 {
    position: absolute;
    top: 120px;
    left: calc(100% + 33px);
}

.flag {
    margin-bottom: 48px
}

.company {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #231815;
    margin-bottom: 23px;
}

.tel {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #231815;
    margin-bottom: 53px;
}

.socialList {
    margin-bottom: 147px;
}

.copyright {
    font-family: Arial, "Noto Sans TC", "STXihei", HEITI TC, "HEITI TC", "黑體-繁", "微軟正黑體", "黑體", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
}

.socialicon {
    margin-right: 40px;
}

@media (max-width: 1025px) {
    .navspace {
        display: none;
    }

    .mobilenav {
        z-index: 49;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bg-1 {
        background: url(https://wanpotea.com/images/index-banner-1.png) 80% center/auto 100% no-repeat;
    }

    .bg-2 {
        background: url(https://wanpotea.com/images/index-banner-2.png) 80% center/auto 100% no-repeat;
    }

    .bg-3 {
        right: 3px;
        bottom: -171px;
        width: auto;
    }

    .bg-4 {
        display: none;
    }

    .bg-5 {
        display: none;
    }

    .bg-6 {
        width: 197px
    }

    .down {
        width: 220px;
    }

    .storywrap {
        padding: 100px 20px;
    }

    .storywrap .title {
        font-size: 40px;
        margin-bottom: 46px;
    }

    .storywrap .content {
        font-size: 13px;
    }

    .lastwrap {
        height: 50vh;
    }

    .noteone {
        display: none;
    }

    .notetwo {
        display: none;
    }

    .notethree {
        display: none;
    }

    .animewrap {
        padding-top: 80px
    }

    .wholedrink {
        padding-top: 214px;
        transform: scale(0.69);
        transform-origin: top center;
        height: 520px;
    }

    body {
        height: 2739px;
    }

    .redtea {
        padding-top: 0;
    }

    .swiper {
        display: block !important;
    }

    .bottomanime {
        height: 620px;
        margin-bottom: 152px;
    }

    .bottomanime.showon .tiger1 {
        left: -30px;
        bottom: -105px;
    }

    .tiger1 img {
        width: 142px;
    }

    .bottomanime.showon .bigword1 {
        left: -10px;
        bottom: 110px;
    }

    .bigword1 img {
        width: 140px;
    }

    .bottomanime.showon .bigword2 {
        left: auto;
        right: -30px;
        bottom: 110px;
    }

    .bigword2 img {
        width: 178px;
    }

    .bottomanime.showon .tiger2 {
        left: auto;
        right: -46px;
        bottom: auto;
        top: 177px;
    }

    .tiger2 img {
        width: 142px;
    }

    .scrolldown img {
        width: 164px;
    }

    .listtext2 {
        margin: 0 0;
    }

    .bottomnews {
        padding: 70px 0 55px;

    }

    .newslist {
        padding: 0 20px;
        max-width: 1050px
    }

    .news {
        max-width: 100%;
        min-width: 100%;
        min-height: 250px;
        max-height: 250px;
        padding: 20px;
        margin: 0 0 20px;
    }
    .news img {
        width: 200px;
    }
}